<% content_for :stylesheets do stylesheet_link_tag "todos" end %>
<% content_for :javascripts do javascript_include_tag :todo end %>
<% content_for :javascripts do javascript_include_tag "view/app" end %>

<% content_for :content do %>

<!-- Todo App Interface --> 

<div id="todoapp"> 

	<div class="title"> 
		<h1>Todos</h1> 
	</div> 

	<div class="content"> 

		<div id="create-todo"> 
			<input id="new-todo" placeholder="What needs to be done?" type="text" /> 
			<span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span> 
		</div> 

		<div id="todos"> 
			<ul id="todo-list"></ul> 
		</div> 

		<div id="todo-stats"></div> 

	</div> 

</div> 

<ul id="instructions"> 
	<li>Double-click to edit a todo.</li> 
	<li><a href="../../docs/todos.html">View the annotated source.</a></li> 
</ul> 

<div id="credits"> 
	Created by
	<br /> 
	<a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a> 
</div>

<!-- mustache.js templates -->

<script id="todo" type="text/html">
<div class="todo{{#done}} done{{/done}}">
	<div class="display">
		<input class="check" type="checkbox" {{#done}}checked="checked"{{/done}} />
		<div class="todo-content">{{content}}</div>
		<span class="todo-destroy"></span>
	</div>
	<div class="edit">
		<input class="todo-input" type="text" value="{{content}}" />
	</div>
</div>
</script>

<script id="app" type="text/html">
{{#total}}
	<span class="todo-count">
		<span class="number">{{remaining}}</span>
		<span class="word">{{^remainingp}}item{{/remainingp}}{{#remainingp}}items{{/remainingp}}</span> left.
	</span>
{{/total}}
{{#done}}
	<span class="todo-clear">
		<a href="#">
			Clear <span class="number-done">{{done}}</span>
			completed <span class="word-done">{{^donep}}item{{/donep}}{{#donep}}items{{/donep}}</span>
		</a>
	</span>
{{/done}}
</script>

<% end %>